/* --------------------------------Start Login Page Design --------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/
.login-page{
	margin-top:7%;
	margin-left:40%;
}

.logged_name {
	color: #d0c9c9 !important;
}

.text-error{
	color:red;	
}

.custom_body {
	background: #052d58 url(../images/career_bg.png) !important;
}

.login-title{
	color:  #052d58;
}

/* --------------------------------End Login Page Design --------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/

/* --------------------------------Start Button Design --------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/


.btn-primary {
    color: #fff;
    background-color: #052d58;
    border-color: #052d58;
}

.btn_anchor{
	color:  #052d58;
}

.btn_anchor:hover {
	color:  #052d58;
}

.btn-primary:hover {
    color: #fff;
    background-color: #052d58;
    border-color: #052d58;
}

.add_btn {
	float: right;
}

/* --------------------------------End Button Design --------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/

.icon-btn {
	background: none;
	border: none;
	outline: none;
	padding: 0px;
}

.starter-template {
	margin-top:100px;
}