<% layout('../layout') -%>
<h3>Role List</h3>
<button type="button" class="btn btn-primary add_btn" onclick="window.location.href='/role/add'">Add Role</button>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Role Name</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        <% for(var i=0; i < records.length; i++) { %>
            <tr>
                <td><%= records[i].RoleName %></td>
                <td>
                    <button class="icon-btn" onclick="window.location.href='/role/edit/<%= records[i].RoleId %>'"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                    <button class="icon-btn" onclick="window.location.href='/role/delete/<%= records[i].RoleId %>'"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
            </tr>
        <% } %>
    </tbody>
  </table>
    
